sherpa-onnx
supertonic
sounddevice
websockets
fastapi
psutil
requests
niquests
beautifulsoup4
pycaw
comtypes
pywin32
win11toast
screen-brightness-control
Pillow
python-docx
pypdf
telethon
python-pptx
openpyxl
python-multipart
uvicorn
